<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="براوو رول پلی جذاب ترین سرور جی تی ای رول پلی با  به روز ترین امکانات حال حاظر. به زودی..."
    />
    <meta name="author" content="hamidreza aghaali" />
    <meta
      name="keywords"
      content="براوو , رول پلی , جی تی ای , ارپی , گیم , بازی , سرور فابوام , سرور , سرور رایگان , bravorp , سرور ایرانی, fivem , five m ,rp , discord , b6 , bravo team , براوو تیم , تیم براوو , شهر , براوو آرپی, "
    />
    <!-- css link -->
    <link rel="stylesheet" href="/dashboard/css/style.css" />
    <!-- responsiv link -->
    <link rel="stylesheet" href="/dashboard/responsive/panel-responsive.css" />
    <!-- js link -->
    <script defer src="./js/main.js"></script>
    <!-- fav icon -->
    <link rel="icon" type="image/x-icon" href="/dashboard/media/baravo-tab-logo.png" />
    <!-- fontawsome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style type="text/css" media="print">
      * {
        display: none;
        visibility: hidden;
      }
    </style>
    <title>Bravo rp | پنل کاربری</title>
  </head>
  <body>
    <%- include("./templates/header.ejs") %>
    <div style="display: block; width: 100%; height: 7rem"></div>
    <!-- nav bar end -->
    <!-- carecter info start -->
    <h1 class="title">مجوز ها</h1>
    <div class="box-1">
      <div class="carecter-box">
        <i class="box-icon fa-solid fa-gun box-icon"></i>
        <br />
        <h2>مجوز اسلحه</h2>
      </div>
      <div class="carecter-box">
        <i class="box-icon fa-solid fa-car box-icon"></i>
        <br />
        <h2>گواهینامه رانندگی</h2>
      </div>
      <div class="carecter-box red-box">
        <i class="box-icon fa-solid fa-helicopter box-icon"></i>
        <br />
        <h2>مجوز پرواز</h2>
      </div>
      <div class="carecter-box red-box">
        <i class="box-icon fa-solid fa-users box-icon"></i>
        <br />
        <h2>مجوز شکار</h2>
      </div>
    </div>

    <!-- carecter info end -->
    <!-- user info start -->
    <h1 class="title">اطلاعات کاربری</h1>
    <div class="box-1">
      <div class="carecter-box-2">
        <div class="txt">
          <p class="box-title">اسم کاراکتر</p>
          <p class="box-description">name</p>
        </div>
        <i
          style="left: -9rem"
          class="box-icon fa-solid fa-user box-icon box-color2 box-icon-bottom"
        ></i>
      </div>
      <div class="carecter-box-2">
        <div class="txt">
          <p class="box-title">پول نقد</p>
          <p class="box-description">$10.000</p>
        </div>
        <i
          style="left: -9rem"
          class="middle-box-icon fa-solid fa-money-bill-wave box-icon box-color3 box-icon-bottom"
        ></i>
      </div>
      <div class="carecter-box-2">
        <div class="txt">
          <p class="box-title">حساب بانکی</p>
          <p class="box-description">$2.000.000</p>
        </div>
        <i
          style="left: -7.5rem"
          class="third-box-icon fa-solid fa-building-columns box-icon box-color4 box-icon-bottom"
        ></i>
      </div>
    </div>
    <div class="box-1">
      <div class="carecter-box-2">
        <div class="txt">
          <p class="box-title">شماره تماس</p>
          <p class="box-description">09120005555</p>
        </div>
        <i
          style="left: -7rem"
          class="right-box-icon fa-solid fa-phone box-icon box-color2 box-icon-bottom"
        ></i>
      </div>
      <div class="carecter-box-2">
        <div class="txt">
          <p class="box-title">استیم هکس</p>
          <p class="box-description">11000578888445dc</p>
        </div>
        <i
          style="left: -6rem"
          class="right-box-icon fa-brands fa-steam box-icon box-color3 box-icon-bottom"
        ></i>
      </div>
      <div class="carecter-box-2">
        <div class="txt">
          <p class="box-title">راکستار لایسنس</p>
          <p class="box-description">575444412dc</p>
        </div>
        <i
          style="left: -7rem"
          class="third2-box-icon fas fa-rocket box-icon box-color4 box-icon-bottom"
        ></i>
      </div>
    </div>
    <!-- user info end -->
    <!-- admin start -->
    <h1 class="title">اطلاعات ادمین</h1>
    <div class="box-1">
      <div class="carecter-box-2">
        <div class="txt">
          <p class="box-title">لول ادمینی شما</p>
          <p class="box-description">13</p>
        </div>
        <i
          style="left: -6rem"
          class="right-box-icon fa-solid fa-users box-icon box-color2 box-icon-bottom"
        ></i>
      </div>
      <div class="carecter-box-2">
        <div class="txt">
          <p class="box-title">تعداد پلیر های داخل سرور</p>
          <p class="box-description">11/64</p>
        </div>
        <i
          style="left: -2rem"
          class="middle-box-icon fa-solid fa-gamepad box-icon box-color3 box-icon-bottom"
        ></i>
      </div>
      <div class="carecter-box-2">
        <div class="txt">
          <p class="box-title">پوینت ادمینی شما</p>
          <p class="box-description">203</p>
        </div>
        <i
          style="left: -6rem"
          class="third-box-icon fa-solid fa-person-military-pointing box-icon box-color4 box-icon-bottom"
        ></i>
      </div>
    </div>
    <!-- admin end -->

    <div
      style="display: block; width: 100%; height: 1px; margin-top: 4rem"
    ></div>
  </body>
</html>
