<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="ุจุฑุงูู ุฑูู ูพู ุฌุฐุงุจ ุชุฑู ุณุฑูุฑ ุฌ ุช ุง ุฑูู ูพู ุจุง  ุจู ุฑูุฒ ุชุฑู ุงูฺฉุงูุงุช ุญุงู ุญุงุธุฑ. ุจู ุฒูุฏ..."
    />
    <meta
      name="keywords"
      content="ุจุฑุงูู , ุฑูู ูพู , ุฌ ุช ุง , ุงุฑูพ , ฺฏู , ุจุงุฒ , ุณุฑูุฑ ูุงุจูุงู , ุณุฑูุฑ , ุณุฑูุฑ ุฑุงฺฏุงู , bravorp , ุณุฑูุฑ ุงุฑุงู, fivem , five m ,rp , discord , b6 , bravo team , ุจุฑุงูู ุชู , ุชู ุจุฑุงูู , ุดูุฑ , ุจุฑุงูู ุขุฑูพ, "
    />
    <!-- css link -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- js link -->
    <script defer src="/js/main.js"></script>
    <!-- responsive -->
    <link rel="stylesheet" href="/css/responsive/index.css" />
    <!-- fontawsome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- icon-title -->
    <link rel="icon" type="image/x-icon" href="/media/1/baravo-tab-logo.png" />
    <!-- print-desibael -->
    <style type="text/css" media="print">
      * {
        display: none;
        visibility: hidden;
      }
    </style>
    <title>Bravo rp | ุตูุญู ุงุตู</title>
  </head>
  <style>
    .beta {
      background-color: #000;
      color: red;
      padding: 2rem;
    }
  </style>
  <body>
    <!-- hero-start -->
    <div class="hero" id="welcome">
      <!-- navbar-start -->
      <div class="navbar">
        <div class="navbar-right">
          <a href="/" class="welcome">ุตูุญู ุงุตู</a>
          <a href="/shop" target="_blnak">ูุฑูุดฺฏุงู</a>
          <a href="/rules" target="_blnak">ููุงูู</a>
          <a href="#contact" class="contact-a">ุงุฑุชุจุงุท ุจุง ูุง</a>
          <!-- <div class="dropdown">
            <button class="dropbtn">
              ููุงูู
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#r1">ููุงูู OOC</a>
              <a href="#r2">ููุงูู IC</a>
            </div>
          </div> -->
        </div>
        <div class="navbar-left">
          <a href="/login" target="_blank" class="loginBtn">
            <i class="fa-solid fa-user"></i>
            ูุฑูุฏ
          </a>
        </div>
      </div>
      <!-- navbar-end -->
      <div class="hero-txt-btn">
        <h1>Bravo RolePlay</h1>
        <a href="https://cfx.re/join/lx48o7" target="_blnak" class="join-sv-btn">ูุฑูุฏ ุจู ุณุฑูุฑ</a>
      </div>
    </div>
    <!-- hero-end -->
    <div class="countdown-flex">
      <!-- COUNTDOWN start -->
      <iframe
        width="1068px"
        height="513px"
        src="https://www.namasha.com/embed/mUlcXwft"
        title="ูุฏู ุงูุชุชุงุญู ุณุฑูุฑ ุจุฑุงูู ุฑูู ูพู"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <div class="container">
        <h1 id="headline">ูุงูุฏู ุชุง ุฑุงู ุดุฏู ูุตู ุงูู  ุณุฑูุฑ</h1>
        <div id="countdown">
          <ul>
            <li><span id="seconds"></span>ุซุงูู</li>
            <li><span id="minutes"></span>ุฏููู</li>
            <li><span id="hours"></span>ุณุงุนุช</li>
            <li><span id="days"></span>ุฑูุฒ</li>
          </ul>
        </div>
        <div id="content" class="emoji">
          <span>๐ฅณ</span>
          <span>๐</span>
          <span>๐</span>
        </div>
      </div>
    </div>
    <!-- COUNTDOWN end -->
    <!-- start main -->
    <div class="main-box">
      <div class="main-box-top">
        <div class="box">
          <i class="fa-solid fa-handshake-simple"></i>
          <p>ุชู ุงุฏูู ูู</p>
        </div>
        <div class="box">
          <i class="fa-solid fa-gamepad"></i>
          <p>ุขุฑูพ ุจุฏูู ุญุฏ ู ูุฑุฒ</p>
        </div>
        <div class="box">
          <i class="fa-sharp fa-solid fa-vihara"></i>
          <p>ุชููุน ุฏุฑ ุดุบู ูุง</p>
        </div>
      </div>
      <div class="main-box-bottom">
        <div class="box">
          <i class="fa-solid fa-car"></i>
          <p>ุชููุน ุฏุฑ ูุณุงู ูููู</p>
        </div>
        <div class="box">
          <i class="fa-sharp fa-solid fa-gears"></i>
          <p>ุงููพุชูุงุฒ ุจูุฏู ุณุฑูุฑ</p>
        </div>
        <div class="box">
          <i class="fa-solid fa-arrows-rotate"></i>
          <p>ุจู ุฑูุฒ ุจูุฏู ุณุฑูุฑ</p>
        </div>
      </div>
    </div>
    <!-- end main -->
    <!-- contact -->
    <div class="contact" id="contact">
      <h1>ุฑุงู ูุง ุงุฑุชุจุงุท ูุง</h1>
      <p>ุดูุง ู ุชูุงูุฏ ูุงุฑุง ุงุฒ ุทุฑู ููฺฉ ูุง ุฒุฑ ุฏูุจุงู ฺฉูุฏ</p>
      <div class="icons">
        <a href="https://www.youtube.com/channel/UCloictiS48PSm7v3jC2iJWw">
          <i class="fa-brands fa-youtube yt" style="transition: 0.5s"></i
        ></a>
        <a href="https://instagram.com/bravorp.ir"
          ><i class="fa-brands fa-instagram insta" style="transition: 0.5s"></i
        ></a>
        <a href="https://discord.gg/83XY5zaZNk"
          ><i class="fa-brands fa-discord dis" style="transition: 0.5s"></i
        ></a>
        
      </div>
    </div>
    <!-- copy-right -->
    <div class="copy-right">
      <p>
        ยฉ Design:
        <a href="mailto:bravorp.ir@gmail.com">Bravorp</a>.Untitled. All rights
        resreved |
      </p>
    </div>
     <a href="#" class="to-top">
      <i class="fa-solid fa-arrow-up"></i>
    </a>
  </body>
</html>