<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="براوو رول پلی جذاب ترین سرور جی تی ای رول پلی با  به روز ترین امکانات حال حاظر. به زودی..."
    />
    <meta
      name="keywords"
      content="براوو , رول پلی , جی تی ای , ارپی , گیم , بازی , سرور فابوام , سرور , سرور رایگان , bravorp , سرور ایرانی, fivem , five m ,rp , discord , b6 , bravo team , براوو تیم , تیم براوو , شهر , "
    />

    <!-- css link -->
    <link rel="stylesheet" href="/css/form.css" />
    <!-- responsiv link -->
    <link rel="stylesheet" href="/css/responsive/form-responsive.css" />
    <!-- fontawsome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- icon-title -->
    <link rel="icon" type="image/x-icon" href="/media/1/baravo-tab-logo.png" />
    <!-- print-desibael -->
    <style type="text/css" media="print">
      * {
        display: none;
        visibility: hidden;
      }
    </style>
    <title>Bravo rp | ورود کاربر</title>
  </head>
  <body>
    <div class="form-box">
      <a href="/" class="a-icon">
        <i class="fa-solid fa-house head-icon"></i
      ></a>

      <img class="logo" src="/media/1/logo-txt.png" alt="logo" />
      <h1>Log In</h1>
      <form action="#" class="form">
        <i class="fa-solid fa-user icon-form">
          <input type="text" placeholder="Username" name="username" id="" />
        </i>
        <i class="fa-solid fa-lock icon-form">
          <input
            type="password"
            placeholder="Password"
            min="8"
            name="password"
            id=""
          />
        </i>
        <p class="checkbox">
          <input type="checkbox" name="remberme" id="" /> remberme me
        </p>
        <button class="btn" type="submit">Login</button>
      </form>
      <a href="/register" class="a-form">New user?</a>
      <a href="/reset" class="a-form">Reset password?</a>
    </div>
  </body>
</html>