<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="قوانین براوو رول پلی" />
    <meta
      name="keywords"
      content="براوو , رول پلی , جی تی ای , ارپی , گیم , بازی , سرور فابوام , سرور , سرور رایگان , bravorp , سرور ایرانی, fivem , five m ,rp , discord , b6squad,فروشگاه,قوانین رول پلی , قوانین جی تی ای , bravo team , براوو تیم , تیم براوو , شهر , "
    />
    <!-- css link -->
    <link rel="stylesheet" href="/css/rules.css" />
    <!-- responsive -->
    <link rel="stylesheet" href="/css/responsive/index.css" />
    <!-- fontawsome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- icon-title -->
    <link rel="icon" type="image/x-icon" href="/media/1/baravo-tab-logo.png" />
    <!-- print-desibael -->
    <style type="text/css" media="print">
      * {
        display: none;
        visibility: hidden;
      }
    </style>
    <title>Bravo rp | صفحه قوانین</title>
  </head>
  <body>
    <!-- nav bar start -->
    <%- include("./templates/header.ejs") %>
    <div class="header-fix"></div>
    <!-- nav bar end -->
    <div class="main">
      <!-- start rules txt -->
      <img class="main-img" src="/media/1/main.png" />
      <div class="rules-txt">
        <h1>مقدمه</h1>
        <p>
          <em><b>از شما مچکریم که قوانین ما را مطالعه میفرماید.</b></em
          ><br />
        </p>
        <p>
          تمامی این قوانین اجباری و جهت بهتر شدن سطح ارپی شما میباشد و خواندن ان
          و یا رعایت آن به نفع شما و اطرافیانتان می باشد.<br />
          مورد توجه است که قوانین سرور براوو رول پلی با بقیه سرور ها دارای تفاوت
          است پس در نتیجه بهتر است قبل ورود به سرور قوانین را مطالعه فرمایید.
        </p>
        <h1 id="r1">قوانین OOC</h1>
        <h2>اکانت کاربر:</h2>
        <p>
          شما مالک اکانت خود هستید و به هیچ عنوان دیگران حق ورود به سرور را به
          وسیله اکانت شما ندارند. هرگونه خرید و فروش اکانتی که در سرور براوو
          دارید ممنوع میباشد و در صورت مشاهده بن بلند مدت در پی دارد. تیم استف
          براوو از بهانه هایی مانند هک شدن اکانت یا ... جهت انبن شدن شما در سرور
          را نمی پذیرد.
        </p>
        <h2>Cheat & Abuse:</h2>
        <p>
          هرگونه سواستفاده از باگ های سرور و برنامه های ثالثی که به شما مزیت
          ناعادلانه می دهند و یا مد گرافیکی هایی که به شما برتری می دهدند ممنوع
          میباشد و مجازات بسیار سنگینی در پی دارد. شما به عنوان یک پلیر برای
          اینکه فضای بازی را برای همه بهتر و عادلانه تر کنید موضف هستید در صورت
          مشاهده باگ های سرور ان را از طریق چنل باگ و ریپورت براوو رول پلی به
          استف تیم اطلاع دهید.
        </p>
        <h2>ماکرو(Macro):</h2>
        <p>
          استفاده از ماکرو در سرور براوو ارپی ممنوع می باشد و به عنوان یک برتری
          نسبت به بقیه پلیر ها خوانده می شود و در صورت مشاهده منجل به بن بلند
          مدت فرد می شود.
        </p>
        <h2>Reporting:</h2>
        <p>
          قبل از ریپورت دادن لطفا اطمینان فرمایید که مدرک کافی برای اثبات تهمت
          ها و مطالبی که ذکر می کنید را داشته باشید در غیر اینصورت شما یک اخطار
          (وارن) به دلیل گرفتن وقت استف دریافت می کنید. همچنین در صورتی که مشکلی
          دارید لطفا در ریپورت مشکل خود را کاملا مطرح کنید و از ریپورت هایی
          مانند (ادمین بیا یا اینجا یک مشکلی هست) و در کل ریپورت های کم محتوا
          خودداری کنید و مشکل خود را به صورت کامل مطرح کرده در غیر اینصورت به
          ریپورت شما بررسی نخواهد شد. اگر در روند ارپی ریپورت دهید ریپورت شما
          بررسی نمی شود و ممکن است بعد از اتمام ارپی اخطار (وارن) دریافت کنید.
          شما میتوانید بعد از اتمام ارپی در صورت داشتن اعتراض ریپورت دهید.
          درصورت اسپم ریپورت (گزارش های متعدد) با شما برخورد خواهد شد. شما موضف
          هستید در صورت داشتن ویدیو یا ریکورد از صحنه ارپی در ریپورت خود ذکر
          کنید تا در اولویت استف تیم قرار بگیرد. شما حق هیچگونه دخالت در تصمیمات
          و قضاوت های ادمین حاضر در صحنه نیستید و در صورت داشتن اعتراض میتوانید
          تیکت باز کنید.
        </p>
        <h2>Combat Log:</h2>
        <p>
          طبق این قانون شما به هیچ عنوان حق خروج از سرور به منظور جلو گیری از
          افتادن یک اتفاق منفی یا هر دلیل و بهانه ای را ندارید. بعد از اتمام
          روند هر نوع ارپی شما موظفید تا پانزده دقیقه در سرور باشید و بعد حق
          خروج از سرور را دارید در غیر اینصورت با شما برخور خواهد شد. در صورتی
          که شما غیر عمد و به دلایلی مانند قطع شدن برق خانه یا غیره از سرور
          دیسکانکت شدید موظف هستید که در دیسکورد براوو ارپی در چنل combat-Log
          دلیل قطعی خود را ذکر کنید.
        </p>
        <h2>K.O.S (Kill on Sight):</h2>
        <p>
          طبق این طبق این قانون شما در زمانی میتوانید فردی را به قتل برسانید که
          فرد مقابل شما را تهدید کرده یا به شما یا اطرافیانتان صدمه زده است.
          صدمه های کوچک و اشتباهی به شما K.O.S نسبت به فرد نمیدهد. به فرد
          نمیدهد.
        </p>
        <h1 id="r2">قوانین IC</h1>
        <h2>دستور Me/:</h2>
        <p>
          هنگامی که شما می خواهید کاری را انجام دهید که انیمیشن و حرکتی برای ان
          کار در سرور وجود ندارد موضف هستید از این کامند(me/) استفاده کنید تا
          منظور خود را برسانید سواستفاده از این کامند به هر طریقه ای و به هر
          دلیلی ممنوع میباشد و این کامند به عنوان یک عمل In Character به حساب می
          آید.
        </p>
        <h2>دستور Do/:</h2>
        <p>
          همانند دستورme/ این دستور نیز IC به حساب می اید و برای پرسیدن سوال و
          تایید یا تکذیب کردن ان استفاده میشود. در صورتی که از شما در این دستور
          سوال پرسیده شود و شما جواب ندهید بعد از سه بار تکرار سوال جواب شما
          مثبت به حساب می اید و روند ارپی ادامه پیدا میکند. شما موضف می باشید که
          در این دستور دروغ نگویید. در صورت مشاهده هرگونه دروغگویی در دستور do/
          با شما برخورد جدی خواهد شد.
        </p>
        <h2>متا گیمنیگ(Meta Gaming):</h2>
        <p>
          متا گیمینگ یا میکس ic و ooc به معنا استفاده از اطلاعات خارج از بازی و
          سرور در داخل سرور می باشد. به طور مثال دوست شما در یکی از شبکات
          اجتماعی به شما پیامی میدهد که منطقه 200 درگیری خیابونی اتفاق افتاده و
          شما به آنجا میروید در اینجا شما نقض قانون متا گیمینگ کردید لازم به ذکر
          است این قانون یکی از مهم ترین قوانین سرور می باشد که در صورت تبعیت
          نکردن از آن شدید ترین مجازات را به دنبال خواهد داشت.
        </p>
        <h2>پاور گیمینگ(Power Gaming):</h2>
        <p>
          پاورگیمینگ و یا PG به معنا انجام حرکاتی که در واقعیت نمی شود انجام داد
          ولی در بازی میتوان انجام داد. به طور مثال شما با ماشین sedan نمی
          توانید آفرود سنگین کنید. یا وقتی به یکی دست بند زده اید نمیتوانید با
          اون فرد بدوید. لازم به ذکر است این قانون یکی از مهم ترین قوانین سرور
          می باشد که در صورت تبعیت نکردن از آن شدید ترین مجازات را به دنبال
          خواهد داشت.
        </p>
        <h2>Safe Zones:</h2>
        <p>
          برعکس ان سی زد تخلف در سیف زون ها با شرط و شروط مجاز است. سیف زون ها
          مناطقی مانند ان سی زد هستند که فقط با داشتن یک مدرک معتبر درگیری در ان
          مجاز است. در این مناطق نمیتوانید خلاف انجام دهید بلکه میتوانید روند یک
          ارپی دزدی یا ... را به این مناطق بکشانید. این مناطق شاملند از: اطراف
          سازمان های دولتی پارکینگ های عمومی خونه های شخصی نکته: قوانین ان سی زد
          و سیف زون بر پلیس و ارگان های دولتی اعمال نمیشود ولی نباید از این
          قابلیت سواستفاده کنید .
        </p>
        <h2>NCZ (No Crime Zone):</h2>
        <p>
          به مجموعه مناطقی که در ان هرگونه کار خلاف ممنوع باشد ان سی زد گفته
          میشود این مناطق مکان هایی هستند که در ان امنیت بالایی وجود دارد و یا
          شلوغ است مناطقی که ان سی زد نامیده شده اند عبارتند از: پارکینگ های
          عمومی و توقیف گاه ها اداره های سازمان های دولتی مانند پلیس و شریف و
          مدیکال دپارتمنت و ... زندان های شهر درون منازل شخصی درون محل کار پلیر
          ها و مکان هایی که با شغل افراد ارتباط دارد
        </p>
        <h2>زندگی دوباره(NewLife):</h2>
        <p>
          زمانی که شما بمیرید و دوباره Spawn شوید به NewLife یا زندگی دوباره
          دچار شده اید. زمانی که شما NewLife شده باشید باید اتفاقات که باعث مرگ
          شما شده باشد را فراموش بکنید. زمانی که شما NewLife شده باشید نباید تا
          30 دقیقه با افراد که در آن آرپی بودن تماس و یا ارتباطی برقرار کنید.
          اگر شما توسط مدیک ریوایو بشید دچار زندگی دوباره نشده اید. اگر شما دچار
          NewLife شوید نمیتوانید وقایع مرگ خود را دنبال کنید و K.O.S خود را
          پیگیری کنید.
        </p>
        <h2>سکشوال (Sexual Rp):</h2>
        <p>
          هرگونه کردار رفتار جنسی که بدون اجازه ooc از فرد ممنوع می باشد و
          درصورت دیده شدن فرد مزاحم مجازات می شود.<br />
          درصورتی که افراد داخل ارپی سکشوال همه گی موافق ارپی باشند ولی به صورت
          کتبی در چت ooc موافقتشونو اعلام نکنند مجازات می شوند.<br />
          اجازه ooc باید در چت (ooc/) سرور باشد در غیر این صورت هیچ گونه چت خارج
          از سرور و یا ویدیو ظبط شده مورد قبول نمی باشد.
        </p>
        <h2>DeathMatch</h2>
        <p>
          طبق این قانون شما نمیتوانید به کسی و یا اموال او بدون داشتن آرپی و
          دلیل کافی و منطقی آسیبی وارد کنید.
          <br />
          برای اثبات این قضیه حتما باید ویدیو ضبط شده داشته باشید در غیر این
          صورت چنانچه گزارشی از شما شود و شما ویدیو نداشته باشید با شما مطابق
          قوانین برخورد می شود.
        </p>
        <h2>قانون ترس از جان (Fear RP)</h2>
        <p>
          طبق این قانون در مرحله اول جان شما و در ادامه دیگر دوستانتان از همه
          چیز برای شما مهمتر است و هنگامی که کسی از نزدیک مستقیما با اسلحه اش
          شما یا آنها را تهدید میکند شما موظف هستید هر کاری که شخص از شما
          میخواهد را انجام دهید و نگذارید که شخص شما یا آنها را به قتل برساند.
        </p>
        <h2>Law Services Baiting</h2>
        <p>
          بر اساس این قانون موارد زیر ممنوع می باشد و در صورت انجام هر کدام از
          موارد مطابق قوانین با شما برخورد می شود:
          <br />تحریک نیروهای حفظ امنیت شامل سازمان پلیس، گاورمنت که فی الخِتام
          دستگیری شخص را بر عهده داشته باشد. <br />تماس گرفتن با پلیس به قصد تله
          گذاشتن برای آنان، و نظیر چنین سناریو هایی ختم به قانون Cop Baiting می
          شود. <br />زنگ زدن به تاکسی, مکانیکی,خبرنگار, گاورمنت و دکتر جهت آوردن
          آنها به یک منطقه برای خفت کردن آنها ممنوع میباشد.
        </p>
        <h2>گروگان گیری</h2>
        <p>
          بازیکنان زمانی میتوانند اقدام به گروگان گیری کنند که هدف و دلیل کافی
          داشته باشد.
          <br />تحت هیچ صورت Medic در حال انجام وظیفه رو رو نمی توانید گروگان
          بگیرید. <br />شما نمی توانید گروگان را در داخل خانه نگه دارید.
          <br />شما می توانید از رفیق خودتان برای گروگانگیری در بانک استفاده
          کنید.یک گروگان فقط در رابری مجاز است. (fake hostage) گروگان گیری های
          خارج از رابری فقط خارج از شهر امکان پذیر است.
        </p>
        <h2>(trash talk) الفاظ رکیک و فحاشی:</h2>
        <p>
          افراد توانایی فحاشی به افراد را داخل سرور دارند اما در صورتی که به
          خانواده شخص یا گروه مقابل آسیبی وارد نشود توهین های جنسی برای افراد
          آزاد می باشید اما همچنان نباید به خانواده فرد یا گروه مقابل آسیبی وارد
          شود در صورت انجام برای افراد اشد مجازات را در پی دارد زیرا تیم استف
          براوو بر رعایت این قوانین تاکید دارد
        </p>
        <h2>کارکتر شما:</h2>
        <p>
          کارکتر شما باید داری یک اسم و فامیلی با مفهوم و معنی باشد و آن اسم در
          در دنیای بیرون (OC) هم وجود داشته باشد.
          <br />نام یا فامیلی کارکتر شما باید خارجی باشد. <br />
          مثلا اسم و فامیلی اکبر سیگاری یا مهسا جوجو مجاز نمی باشد.
        </p>

        <h1 id="r3">قوانین رابری ها</h1>
        <h2>قوانین سرقت از سوپر مارکت :</h2>
        <p>
          در تیم رابر و تیم پلیس حداکثرتعداد افراد حاضر در موقعیت باید دو نفر
          باشد. <br />

          اولویت در رابری ها تعقیب و گریز است در تعقیب و گریز هیچ شخصی اجازه
          آسیب زدن به ماشین همدیگر را ندارد. <br />

          تا زمانی که رابر تیراندازی در هنگام تعقیب و گریز ( چه پیاده چه با
          ماشین ) انجام ندهد پلیس حکم شلیک ندارد.
          <br />

          پلیس حق وارد شدن به مغازه رو تا اتمام رابری ندارد و بعد از اتمام رابری
          دو دقیقه باید منتظر رابر جهت خارج شدن از مغازه و تعقیب و گریز باشد .
          <br />

          رابر تا اتمام دزدی حق تیراندازی و خروج از مغازه رو ندارد در صورت اتمام
          وقت ( دو دقیقه) رابر داخل مغازه بماند درگیری با سلاح مجاز می باشد.
          <br />

          در سرقت از مغازه تنها سلاح مجاز جهت استفاده پیستول می باشد و سلاح های
          دیگر همچون تیزر، قمه ، سلاح های سنگین و ... مجاز نمی باشد.
          <br />

          رابر حق گشتن پلیس را دارد اما حق برداشتن وسایل سازمانی پلیس را ندارد.
          <br />

          در صورتی که در درگیری مسلحانه همه افراد حاضر داون شده باشند اولویت با
          درمان نیروی پلیس می باشد .
          <br />

          در سرقت از سوپرمارکت به هیچ وجه طرفین حق داشتن جوینر ندارند.
          <br />
        </p>
        <h2>قوانین سرقت ماشین :</h2>
        <p>
          در تیم رابر و تیم پلیس حداکثرتعداد افراد حاضر در موقعیت باید دو نفر
          باشد.
          <br />

          اولویت در رابری ها تعقیب و گریز است در تعقیب و گریز هیچ شخصی اجازه
          آسیب زدن به ماشین همدیگر را ندارد.
          <br />

          تا زمانی که رابر تیراندازی انجام ندهد پلیس حکم شلیک ندارد.
          <br />

          در سرقت ماشین تنها سلاح مجاز جهت استفاده پیستول می باشد و سلاح های
          دیگر همچون تیزر، قمه ، سلاح های سنگین و ... مجاز نمی باشد.
          <br />

          رابر حق گشتن پلیس را دارد اما حق برداشتن وسایل سازمانی پلیس را ندارد.
          <br />

          در صورتی که در درگیری مسلحانه همه افراد حاضر داون شده باشند اولویت با
          درمان نیروی پلیس می باشد .
          <br />

          در سرقت ماشین به هیچ وجه طرفین حق داشتن جوینر ندارند.
          <br />
        </p>
        <h2>قوانین سرقت از جواهری :</h2>
        <p>
          در تیم رابر و تیم پلیس حداکثرتعداد افراد حاضر در موقعیت باید پنج نفر
          باشد. و در کمترین حالت رابر با 4 نفر هم توانایی شروع سرقت را دارد . (
          4 پلیس + 1 سوات )
          <br />

          اولویت در سرقت از جواهری بدلیل ارزشمند بودن موقعیت درگیری مسلحانه می
          باشد .
          <br />

          تا زمانی که رابر تیراندازی انجام ندهد پلیس حکم شلیک ندارد. ( تا اتمام
          3 اخطار پلیس )
          <br />

          در سرقت جواهری سلاح مجاز جهت استفاده پیستول و سلاح های سنگین می باشد و
          سلاح های دیگر همچون تیزر، قمه ، و... مجاز نمی باشد.

          <br />

          رابر حق گشتن پلیس را دارد اما حق برداشتن وسایل سازمانی پلیس را ندارد.
          <br />

          در صورتی که در درگیری مسلحانه همه افراد حاضر داون شده باشند اولویت با
          درمان نیروی پلیس می باشد.
          <br />

          در سرقت ازجواهری به هیچ وجه طرفین حق داشتن جوینر ندارند.
          <br />
        </p>
        <h2>قوانین سرقت از یاتچ :</h2>
        <p>
          در تیم رابر و تیم پلیس حداکثرتعداد افراد حاضر در موقعیت باید پنج نفر
          باشد. ( 4 پلیس + 1 سوات +1 نیروی هلیکوپتر)
          <br />

          اولویت در سرقت از یاتچ بدلیل ارزشمند بودن موقعیت درگیری مسلحانه می
          باشد.
          <br />

          تا زمانی که رابری به اتمام نرسد پلیس حق حمله ندارد.
          <br />

          در سرقت از یاتچ سلاح مجاز جهت استفاده پیستول و سلاح های سنگین می باشد
          و سلاح های دیگر همچون تیزر، قمه ، و... مجاز نمی باشد.
          <br />

          رابر حق گشتن پلیس را دارد اما حق برداشتن وسایل سازمانی پلیس را ندارد.
          <br />

          در صورتی که در درگیری مسلحانه همه افراد حاضر داون شده باشند اولویت با
          درمان نیروی پلیس می باشد.
          <br />

          در سرقت ازیاتچ به هیچ وجه طرفین حق داشتن جوینر ندارند.
          <br />
        </p>
        <h2>قوانین سرقت از بانک های کوچک :</h2>
        <p>
          در تیم رابر و تیم پلیس حداکثرتعداد افراد حاضر در موقعیت باید شش نفر
          باشد. ( 4 پلیس + 2 سوات +1 نیروی هلیکوپتر)
          <br />

          اولویت در سرقت از بانک کوچک بدلیل ارزشمند بودن موقعیت درگیری مسلحانه
          می باشد.
          <br />

          تا زمانی که رابر تیراندازی انجام ندهد پلیس حکم شلیک ندارد. ( تا اتمام
          3 اخطار پلیس )
          <br />

          در سرقت از بانک کوچک سلاح مجاز جهت استفاده پیستول و سلاح های سنگین می
          باشد و سلاح های دیگر همچون تیزر، قمه ، و... مجاز نمی باشد.
          <br />

          رابر حق گشتن پلیس را دارد اما حق برداشتن وسایل سازمانی پلیس را ندارد.
          <br />

          در صورتی که در درگیری مسلحانه همه افراد حاضر داون شده باشند اولویت با
          درمان نیروی پلیس می باشد.
          <br />

          در سرقت ازبانک کوچک رابر حق داشتن 2 جوینر را دارد. ( از 6 نفراصلی
          جوینر ها حساب میشود)
          <br />
        </p>
        <h2>قوانین سرقت از بانک مرکزی :</h2>
        <p>
          در تیم رابر و تیم پلیس حداکثرتعداد افراد حاضر در موقعیت باید هفت نفر
          باشد. (3پلیس + 4 سوات +1 نیروی هلیکوپتر)
          <br />

          اولویت در سرقت از بانک مرکزی بدلیل ارزشمند بودن موقعیت درگیری مسلحانه
          می باشد.
          <br />

          تا زمانی که رابر تیراندازی انجام ندهد پلیس حکم شلیک ندارد. ( تا اتمام
          3 اخطار پلیس )
          <br />

          در سرقت از بانک مرکزی سلاح مجاز جهت استفاده پیستول و سلاح های سنگین می
          باشد و سلاح های دیگر همچون تیزر، قمه ، و... مجاز نمی باشد.
          <br />

          رابر حق گشتن پلیس را دارد اما حق برداشتن وسایل سازمانی پلیس را ندارد.
          <br />

          در صورتی که در درگیری مسلحانه همه افراد حاضر داون شده باشند اولویت با
          درمان نیروی پلیس می باشد.
          <br />

          در سرقت ازبانک مرکزی رابر حق داشتن 2 جوینر را دارد. ( از7 نفراصلی
          جوینر ها حساب میشود)
          <br />
        </p>

        <h1 id="r4">قوانین Discord</h1>
        <h2>توهین:</h2>
        <p>
          هیچ شخصی حق توهین و فحاشی به فرد دیگری ندارد. هیچ شخصی مذهب باور های
          فرد دیگری را نباید به تمسخر بگیرد. هیچ شخصی حق توهین به یک کشور نژاد
          جنسیت و ملیت دیگری را ندارد. هیچ شخصی حق بی احترامی و دشنام گویی جنسی
          را ندارد.
        </p>
        <h2>ارتباط خارج از سرور:</h2>
        <p>
          همه افراد دارای حق و حقوقی هستند هیچ شخصی از طرف سرور Bravo Rp حق منع
          ارتباط دو فرد را خارج از سرور دیسکورد یا بازی را ندارد و تمام مسائل
          خارج از سرور بازی و دیسکورد Bravo Rp مربوط به دو طرفین یا افراد میشود.
          اگر شخصی دچار مزاحمتی خارج از سرور بازی و دیسکورد بشود,سرور Bravo Rp
          حق مجازات کردن افراد مزاحم را دارد
        </p>
        <h2>مدیا و میم:</h2>
        <p>
          هیچ شخصی حق آپلود کردن عکس,فیلم,گیفت,اموجی,استیکر که مثبت 18 سال باشد
          را ندارد. افراد نمیتوان از عکس های داخل مدیا و میم سرور دیسکورد جهت
          استفاده در بازی را ندارد. افراد حق ندارند که از میم ها و عکس هایی که
          در سرور اپلود میشود جهت توهین مستقیم یا غیر مستقیم به سرور یا افراد
          عضو کامینیتی Bravo Rp استفاده کنند درصورت دیدن و متوجه شدن موضوع افراد
          مستقیمان بدون اختار مجازات میشوند.
        </p>
        <h2>موارد سیاسی:</h2>
        <p>
          افراد حق دارند درمورد ایدولژی های خود صحبت کنند درصورتی که قوانین بالا
          را نقض نکند و باعث ایجاد اشکال برای افراد سرور و خود فرد نشود. درصورت
          ایجاد درگیری های سیاسی در سرور دیسکورد افراد درگیری توسط تیم استف به
          استف ویس احضار میشوند. درصورت حل نشدن مشکل و فیصله پیدا نکردن هردو
          طرفین مجازات میشن.
        </p>
        <h2>مشکلات سرور و باگ ها:</h2>
        <p>
          درصورت پیدا کردن باگ و مشکل نرم افزاری بازی باید به تیم استف اطلاع
          بدید درصورت اطلاع دادن باگ از طرف Founder های سرور به شما جوایزی داده
          میشود. درصورت اطلاع دادن باگ به افراد به غیر از استف تیم شخص لو دهنده
          موضوع مجازات میشود.
        </p>
        <h2>Advertise:</h2>
        <p>
          تبلیغات در فضای اجتماعی و حتی در فضای بازی به طور کامل ممنوع میباشد و
          در صورت مشاهده با شما برخورد جدی خواهد شد. شما فقط حق تبلیغ فضای
          اجتماعی خود در قسمت پروموت در دیسکورد براوو ارپی دارید.این قانون در
          سرور بازی هم شامل میشود.
        </p>
      </div>
      <!-- end rules -->
    </div>
    <div class="copy-right">
      <p>
        © Design:
        <a href="mailto:bravorp.ir@gmail.com">Bravorp</a>.Untitled. All rights
        resreved |
      </p>
    </div>
  </body>
</html>