<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="براوو رول پلی جذاب ترین سرور جی تی ای رول پلی با  به روز ترین امکانات حال حاظر. به زودی..."
    />
    <meta
      name="keywords"
      content="براوو , رول پلی , جی تی ای , ارپی , گیم , بازی , سرور فابوام , سرور , سرور رایگان , bravorp , سرور ایرانی, fivem , five m ,rp , discord , b6squad,فروشگاه,قوانین رول پلی , قوانین جی تی ای , bravo team , براوو تیم , تیم براوو , شهر , "
    />

    <!-- css link -->
    <link rel="stylesheet" href="/css/shop.css" />
    <!-- fontawsome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- icon-title -->
    <link rel="icon" type="image/x-icon" href="/media/1/baravo-tab-logo.png" />
    <!-- print-desibael -->
    <style type="text/css" media="print">
      * {
        display: none;
        visibility: hidden;
      }
    </style>
    <title>Bravo rp | فروشگاه</title>
  </head>
  <body>
    <header>
      <%- include("./templates/header.ejs") %>
    </header>
    <main>
      <div class="hero">
        <h1>به فروشگاه محصولات Bravo RolePlay خوش آمدید</h1>
        <p>
          <strong>
            جهت سفارش محصولات مورد نظر خود ابتدا محصول مورد نظر را انتخاب کرده
            <br />
            و کد آن را کپی کرده و در دیسکورد Bravo RolePlay
            <br />
            تیکت برای دریافت محصول باز کنید
          </strong>
        </p>
      </div>
      <div class="shop">
        <!-- start car -->
        <h1 class="cars-title">Cars</h1>
        <div class="cars" id="car">
          <!-- baraye add kardan radif az inja ta -->
          <div class="row1-iteam">
            <div class="item">
              <div class="iteam-img">
                <div
                  style="
                    position: relative;
                    display: block;
                    height: 0;
                    padding: 0;
                    padding-bottom: 56.25%;
                  "
                >
                  <iframe
                    src="https://www.namasha.com/embed/ljuARjhq"
                    style="
                      position: absolute;
                      top: 0;
                      bottom: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      border: 0;
                    "
                    frameborder="0"
                    scrolling="no"
                    allowfullscreen="true"
                    mozallowfullscreen="true"
                    webkitallowfullscreen="true"
                  ></iframe>
                </div>
              </div>
              <div class="iteam-txt">
                <h6 class="iteam-name">
                  <p><i class="fas fa-car iteam-icon"></i>BWM M3 E46</p>
                  <p>
                    <i class="fas fa-dollar iteam-icon dollar-icon"></i
                    >500BravoCoin
                  </p>
                  <p>
                    <i class="fa-solid fa-hashtag iteam-icon hashtag-icon"></i>
                    tag number
                  </p>
                  <a href="#">خرید محصول</a>
                </h6>
              </div>
            </div>
            <div class="item">
              <div class="iteam-img">
                <img src="/media/shop/cars/m3.png" alt="m3-e46" />
              </div>
              <div class="iteam-txt">
                <h6 class="iteam-name">
                  <p><i class="fas fa-car iteam-icon"></i>BWM M3 E46</p>
                  <p>
                    <i class="fas fa-dollar iteam-icon dollar-icon"></i
                    >500BravoCoin
                  </p>
                  <p>
                    <i class="fa-solid fa-hashtag iteam-icon hashtag-icon"></i>
                    tag number
                  </p>
                  <a href="#"> خرید محصول</a>
                </h6>
              </div>
            </div>
            <div class="item">
              <div class="iteam-img">
                <img src="/media/shop/cars/m3.png" alt="m3-e46" />
              </div>
              <div class="iteam-txt">
                <h6 class="iteam-name">
                  <p><i class="fas fa-car iteam-icon"></i>BWM M3 E46</p>
                  <p>
                    <i class="fas fa-dollar iteam-icon dollar-icon"></i
                    >500BravoCoin
                  </p>
                  <p>
                    <i class="fa-solid fa-hashtag iteam-icon hashtag-icon"></i>
                    tag number
                  </p>
                  <a href="#"> خرید محصول</a>
                </h6>
              </div>
            </div>
          </div>
          <!-- ta inja copy beshe va past va iteam ha taviz beshe esm price aks -->
          <div class="row2-iteam">
            <div class="item">
              <div class="iteam-img">
                <img src="/media/shop/cars/m3.png" alt="m3-e46" />
              </div>
              <div class="iteam-txt">
                <h6 class="iteam-name">
                  <p><i class="fas fa-car iteam-icon"></i>BWM M3 E46</p>
                  <p>
                    <i class="fas fa-dollar iteam-icon dollar-icon"></i
                    >500BravoCoin
                  </p>
                  <p>
                    <i class="fa-solid fa-hashtag iteam-icon hashtag-icon"></i>
                    tag number
                  </p>
                  <a href="#"> خرید محصول</a>
                </h6>
              </div>
            </div>
            <div class="item">
              <div class="iteam-img">
                <img src="/media/shop/cars/m3.png" alt="m3-e46" />
              </div>
              <div class="iteam-txt">
                <h6 class="iteam-name">
                  <p><i class="fas fa-car iteam-icon"></i>BWM M3 E46</p>
                  <p>
                    <i class="fas fa-dollar iteam-icon dollar-icon"></i
                    >500BravoCoin
                  </p>
                  <p>
                    <i class="fa-solid fa-hashtag iteam-icon hashtag-icon"></i>
                    tag number
                  </p>
                  <a href="#"> خرید محصول</a>
                </h6>
              </div>
            </div>
            <div class="item">
              <div class="iteam-img">
                <img src="/media/shop/cars/m3.png" alt="m3-e46" />
              </div>
              <div class="iteam-txt">
                <h6 class="iteam-name">
                  <p><i class="fas fa-car iteam-icon"></i>BWM M3 E46</p>
                  <p>
                    <i class="fas fa-dollar iteam-icon dollar-icon"></i
                    >500BravoCoin
                  </p>
                  <p>
                    <i class="fa-solid fa-hashtag iteam-icon hashtag-icon"></i>
                    tag number
                  </p>
                  <a href="#"> خرید محصول</a>
                </h6>
              </div>
            </div>
          </div>
          <div class="row3-iteam">
            <div class="item">
              <div class="iteam-img">
                <img src="/media/shop/cars/m3.png" alt="m3-e46" />
              </div>
              <div class="iteam-txt">
                <h6 class="iteam-name">
                  <p><i class="fas fa-car iteam-icon"></i>BWM M3 E46</p>
                  <p>
                    <i class="fas fa-dollar iteam-icon dollar-icon"></i
                    >500BravoCoin
                  </p>
                  <p>
                    <i class="fa-solid fa-hashtag iteam-icon hashtag-icon"></i>
                    tag number
                  </p>
                  <a href="#"> خرید محصول</a>
                </h6>
              </div>
            </div>
            <div class="item">
              <div class="iteam-img">
                <img src="/media/shop/cars/m3.png" alt="m3-e46" />
              </div>
              <div class="iteam-txt">
                <h6 class="iteam-name">
                  <p><i class="fas fa-car iteam-icon"></i>BWM M3 E46</p>
                  <p>
                    <i class="fas fa-dollar iteam-icon dollar-icon"></i
                    >500BravoCoin
                  </p>
                  <p>
                    <i class="fa-solid fa-hashtag iteam-icon hashtag-icon"></i>
                    tag number
                  </p>
                  <a href="#"> خرید محصول</a>
                </h6>
              </div>
            </div>
            <div class="item">
              <div class="iteam-img">
                <img src="/media/shop/cars/m3.png" alt="m3-e46" />
              </div>
              <div class="iteam-txt">
                <h6 class="iteam-name">
                  <p><i class="fas fa-car iteam-icon"></i>BWM M3 E46</p>
                  <p>
                    <i class="fas fa-dollar iteam-icon dollar-icon"></i
                    >500BravoCoin
                  </p>
                  <p>
                    <i class="fa-solid fa-hashtag iteam-icon hashtag-icon"></i>
                    tag number
                  </p>
                  <a href="#"> خرید محصول</a>
                </h6>
              </div>
            </div>
          </div>
        </div>
        <!-- end car -->
        <!-- start motor -->
        <h1 class="cars-title">motor</h1>
        <div class="cars" id="motor">
          <!-- baraye add kardan radif az inja ta -->
          <div class="row1-iteam">
            <div class="item">
              <div class="iteam-img">
                <img src="/media/shop/motor/ninja.png" alt="m3-e46" />
              </div>
              <div class="iteam-txt">
                <h6 class="iteam-name">
                  <p><i class="fa fa-motorcycle iteam-icon"></i>BWM M3 E46</p>
                  <p>
                    <i class="fas fa-dollar iteam-icon dollar-icon"></i
                    >500BravoCoin
                  </p>
                  <p>
                    <i class="fa-solid fa-hashtag iteam-icon hashtag-icon"></i>
                    tag number
                  </p>
                  <a href="#">خرید محصول</a>
                </h6>
              </div>
            </div>
          </div>
          <!-- ta inja copy beshe va past va iteam ha taviz beshe esm price aks -->
          <div class="row2-iteam">
            <div class="item">
              <div class="iteam-img">
                <img src="/media/shop/motor/ninja.png" alt="m3-e46" />
              </div>
              <div class="iteam-txt">
                <h6 class="iteam-name">
                  <p><i class="fa fa-motorcycle iteam-icon"></i>BWM M3 E46</p>
                  <p>
                    <i class="fas fa-dollar iteam-icon dollar-icon"></i
                    >500BravoCoin
                  </p>
                  <p>
                    <i class="fa-solid fa-hashtag iteam-icon hashtag-icon"></i>
                    tag number
                  </p>
                  <a href="#"> خرید محصول</a>
                </h6>
              </div>
            </div>
          </div>
          <div class="row3-iteam">
            <div class="item">
              <div class="iteam-img">
                <img src="/media/shop/motor/ninja.png" alt="m3-e46" />
              </div>
              <div class="iteam-txt">
                <h6 class="iteam-name">
                  <p><i class="fa fa-motorcycle iteam-icon"></i>BWM M3 E46</p>
                  <p>
                    <i class="fas fa-dollar iteam-icon dollar-icon"></i
                    >500BravoCoin
                  </p>
                  <p>
                    <i class="fa-solid fa-hashtag iteam-icon hashtag-icon"></i>
                    tag number
                  </p>
                  <a href="#"> خرید محصول</a>
                </h6>
              </div>
            </div>
          </div>
        </div>
        <!-- motor end -->
        <!-- heli strt-->
        <h1 class="cars-title">heli</h1>
        <div class="cars" id="heli">
          <!-- baraye add kardan radif az inja ta -->
          <div class="row1-iteam">
            <div class="item">
              <div class="iteam-img">
                <img src="/media/shop/heli/heli.png" alt="m3-e46" />
              </div>
              <div class="iteam-txt">
                <h6 class="iteam-name">
                  <p><i class="fas fa-helicopter iteam-icon"></i>BWM M3 E46</p>
                  <p>
                    <i class="fas fa-dollar iteam-icon dollar-icon"></i
                    >500BravoCoin
                  </p>
                  <p>
                    <i class="fa-solid fa-hashtag iteam-icon hashtag-icon"></i>
                    tag number
                  </p>
                  <a href="#">خرید محصول</a>
                </h6>
              </div>
            </div>
          </div>
          <!-- ta inja copy beshe va past va iteam ha taviz beshe esm price aks -->
          <div class="row2-iteam">
            <div class="item">
              <div class="iteam-img">
                <img src="/media/shop/heli/heli.png" alt="m3-e46" />
              </div>
              <div class="iteam-txt">
                <h6 class="iteam-name">
                  <p><i class="fas fa-helicopter iteam-icon"></i>BWM M3 E46</p>
                  <p>
                    <i class="fas fa-dollar iteam-icon dollar-icon"></i
                    >500BravoCoin
                  </p>
                  <p>
                    <i class="fa-solid fa-hashtag iteam-icon hashtag-icon"></i>
                    tag number
                  </p>
                  <a href="#"> خرید محصول</a>
                </h6>
              </div>
            </div>
          </div>
          <div class="row3-iteam">
            <div class="item">
              <div class="iteam-img">
                <img src="/media/shop/heli/heli.png" alt="m3-e46" />
              </div>
              <div class="iteam-txt">
                <h6 class="iteam-name">
                  <p><i class="fas fa-helicopter iteam-icon"></i>BWM M3 E46</p>
                  <p>
                    <i class="fas fa-dollar iteam-icon dollar-icon"></i
                    >500BravoCoin
                  </p>
                  <p>
                    <i class="fa-solid fa-hashtag iteam-icon hashtag-icon"></i>
                    tag number
                  </p>
                  <a href="#"> خرید محصول</a>
                </h6>
              </div>
            </div>
          </div>
        </div>
        <!-- heli end -->
        <!-- boat start -->
        <h1 class="cars-title">boat</h1>
        <div class="cars" id="boat">
          <!-- baraye add kardan radif az inja ta -->
          <div class="row1-iteam">
            <div class="item">
              <div class="iteam-img">
                <img src="/media/shop/boat/red-bot.webp" alt="m3-e46" />
              </div>
              <div class="iteam-txt">
                <h6 class="iteam-name">
                  <p>
                    <i class="fa-solid fa-sailboat iteam-icon"></i>BWM M3 E46
                  </p>
                  <p>
                    <i class="fas fa-dollar iteam-icon dollar-icon"></i
                    >500BravoCoin
                  </p>
                  <p>
                    <i class="fa-solid fa-hashtag iteam-icon hashtag-icon"></i>
                    tag number
                  </p>
                  <a href="#">خرید محصول</a>
                </h6>
              </div>
            </div>
          </div>
          <!-- ta inja copy beshe va past va iteam ha taviz beshe esm price aks -->
          <div class="row2-iteam">
            <div class="item">
              <div class="iteam-img">
                <img src="/media/shop/boat/red-bot.webp" alt="m3-e46" />
              </div>
              <div class="iteam-txt">
                <h6 class="iteam-name">
                  <p>
                    <i class="fa-solid fa-sailboat iteam-icon"></i>BWM M3 E46
                  </p>
                  <p>
                    <i class="fas fa-dollar iteam-icon dollar-icon"></i
                    >500BravoCoin
                  </p>
                  <p>
                    <i class="fa-solid fa-hashtag iteam-icon hashtag-icon"></i>
                    tag number
                  </p>
                  <a href="#"> خرید محصول</a>
                </h6>
              </div>
            </div>
          </div>
          <div class="row3-iteam">
            <div class="item">
              <div class="iteam-img">
                <img src="/media/shop/boat/red-bot.webp" alt="m3-e46" />
              </div>
              <div class="iteam-txt">
                <h6 class="iteam-name">
                  <p>
                    <i class="fa-solid fa-sailboat iteam-icon"></i>BWM M3 E46
                  </p>
                  <p>
                    <i class="fas fa-dollar iteam-icon dollar-icon"></i
                    >500BravoCoin
                  </p>
                  <p>
                    <i class="fa-solid fa-hashtag iteam-icon hashtag-icon"></i>
                    tag number
                  </p>
                  <a href="#"> خرید محصول</a>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>