* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

.logo{
  margin-bottom: -50px;
}

.login-title{
  margin-bottom: 80px !important;
  font-size: 2.5rem;
  color: #4e9f3d;
  opacity: .5;
  word-spacing: 20px;
  letter-spacing: 14px;
  margin-left: 13px;
  user-select: none;
}

.black{
  background-image: url(/media/1/login.png);
  
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  height: 100vh; 
  width: 100%;
  
  position: fixed;
  top: 0;
  z-index: -100;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-image: url(/media/1/login.png);
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  background-color: rgba(20, 20, 20, 0.9);
  box-shadow: 6px 6px 20px 1px rgb(19, 19, 19);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  border-radius: 30px;
}
.form-box > img {
  width: 220px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  margin-bottom: 10%;
  padding: 8px;
  background-color: inherit;
  color: #fff;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
}

.checkbox {
  margin-right: 37%;
  color: #fff;
  font-size: 1.5rem;
}
.form > button {
  margin: 5%;
  font-size: 1.8rem;
  padding: 6px 50px;
  border-radius: 30px;
  cursor: pointer;
}

.a-form {
  display: inline;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  transition: color .15s ease-in-out;
  margin-bottom: 10px;
}

.a-form:hover{
  color: #5bdb41;
}

.form-txt {
  color: #fff;
  font-size: 1.3rem;
  margin-right: 60%;
}
.date {
  width: 100%;
}
.icon-form {
  color: #fff;
  font-size: 2rem;
}
.head-icon {
  color: #fff;
  font-size: 2rem;
  transition: 0.2s;
}
.head-icon:hover {
  color: #4e9f3d;
}
.a-icon {
  margin-right: 80%;
  margin-top: 5%;
}
.btn {
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
  border: 1px solid #4e9f3d;
  margin-top: 50px !important;
}
.btn:hover {
  background-color: #4e9f3d;
  color: white;
}
/*scrol bar*/
/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1e5128;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4e9f3d;
}

* general styling */ :root {
  --smaller: 0.75;
}

.countdown-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1e5128;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: 5rem;
}

.container {
  color: #fff;
  margin: 0 auto;
  text-align: center;
}

#headline {
  font-weight: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}
