.navbar {
    position: fixed;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .navbar a {
    color: #000;
    float: left;
    font-size: 1.6rem;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 10px;
    border-radius: 10px;
    transition: background-color .2s ease-in-out;
  }
  
  .navbar-right{
    display: flex;
  }
  
  .navbar-left {
    min-width: 100px;
    max-width: 200px;
  }

  .navbar-left > a{
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-left i {
    margin-left: 10px;
    font-size: 15px;
    margin-bottom: -5px;
  }
  
  .loginBtn{
    color: rgb(196, 11, 11) !important;
    border: 1px solid rgb(196, 11, 11);
  }
  
  .loginBtn:hover{
    background-color: rgb(196, 11, 11) !important;
    color: white !important;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    transition: 1s;
  }
  
  .dropdown .dropbtn {
    font-size: 1.6rem;
    border: none;
    outline: none;
    color: #000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: 1s;
  }
  
  .navbar a:hover,
  .dropdown:hover .dropbtn {
    background-color: rgb(226, 226, 226);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }