<link rel="stylesheet" href="/css/headerStyles.css">
<link rel="stylesheet" href="/css/fonts.css">

<div class="navbar">
    <div class="navbar-right">
      <a href="/" class="welcome">صفحه اصلی</a>
      <a href="/shop" target="_blnak">فروشگاه</a>
      <a href="/rules" target="_blnak">قوانین</a>
      <a href="/#contact" class="contact-a">ارتباط با ما</a>
      <!-- <div class="dropdown">
        <button class="dropbtn">
          قوانین
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#r1">قوانین OOC</a>
          <a href="#r2">قوانین IC</a>
        </div>
      </div> -->
    </div>
    <div class="navbar-left">
      <% if(user){ %>
        <a href="/dashboard" class="loginBtn">
          <i class="fa-solid fa-user"></i>
          داشبورد
        </a>
      <% }else{ %>
      <a href="/login" class="loginBtn">
        <i class="fa-solid fa-user"></i>
        ورود / عضویت
      </a>
      <% } %>
    </div>
  </div>